@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pixelify+Sans:wght@400..700&display=swap');

header { 
    display: flex;
    flex-direction: column;
    align-self: start;  
    padding: 20px;
    h3 {
      font-size: 18px;
      margin-bottom: 60px;      
    }
    p {
        width: 44px;
    }
  }